layout {

    focus-ring {
        active-color   "#e78a4e"
        inactive-color "#32302f"
        urgent-color   "#ea6962"
    }

    border {
        active-color   "#e78a4e"
        inactive-color "#32302f"
        urgent-color   "#ea6962"
    }

    shadow {
        color "#28282870"
    }

    tab-indicator {
        active-color   "#e78a4e"
        inactive-color "#7d3406"
        urgent-color   "#ea6962"
    }

    insert-hint {
        color "#e78a4e80"
    }
}

recent-windows {
    highlight {
        active-color "#e78a4e"
        urgent-color "#ea6962"
    }
}
