layout {

    focus-ring {
        active-color   "#db6d6d"
        inactive-color "#1a1b1c"
        urgent-color   "#db6d6d"
    }

    border {
        active-color   "#db6d6d"
        inactive-color "#1a1b1c"
        urgent-color   "#db6d6d"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#db6d6d"
        inactive-color "#831212"
        urgent-color   "#db6d6d"
    }

    insert-hint {
        color "#db6d6d80"
    }
}

recent-windows {
    highlight {
        active-color "#db6d6d"
        urgent-color "#db6d6d"
    }
}
